<ol class="breadcrumb">
    <li class="breadcrumb-item">YOU ARE HERE</li>
    <li class="breadcrumb-item active">Create Merchant</li>
</ol>
<h1 class="page-title">Create - <span class="fw-semi-bold">Merchant</span></h1>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" role="form">
                    <fieldset>
                        <legend>Creating <strong>Merchant</strong> form</legend>
                        <div class="form-group row">
                            <label for="normal-field" class="col-md-4  col-form-label text-md-right">Merchant Name</label>
                            <div class="col-md-4 ">
                                <input type="text" id="normal-field" [(ngModel)]="merchantName" name="merchantName" class="form-control">
                            </div>
                        </div>
                        <div class="row" class="errorText">
                            <p>
                                {{merchantNameErrors}}
                            </p>
                        </div>
                        <div class="form-group row">
                            <label for="normal-field" class="col-md-4  col-form-label text-md-right">Merchant Email</label>
                            <div class="col-md-4 ">
                                <input type="text" id="normal-field" [(ngModel)]="merchantEmail" name="merchantEmail" class="form-control">
                            </div>
                        </div>
                        <div class="row" class="errorText">
                            <p>
                                {{merchantEmailErrors}}
                            </p>
                        </div>
                        <div class="form-group row">
                            <label for="normal-field" class="col-md-4  col-form-label text-md-right">Merchant Username</label>
                            <div class="col-md-4 ">
                                <input type="text" id="normal-field" [(ngModel)]="merchantUsername" name="merchantUsername" class="form-control">
                            </div>
                        </div>
                        <div class="row" class="errorText">
                            <p>
                                {{merchantUsernameErrors}}
                            </p>
                        </div>
                        <div class="form-group row">
                            <label for="normal-field" class="col-md-4  col-form-label text-md-right">Merchant Password</label>
                            <div class="col-md-4 ">
                                <input type="text" id="normal-field" [(ngModel)]="merchantPassword" name="merchantPassword" class="form-control">
                            </div>
                            <div class="col-md-3 ">
                                <button type="submit" (click)="generateRandom()" class="btn btn-primary app-btn col-md-12">Generate Random</button>
                            </div>
                        </div>
                        <div class="row" class="errorText">
                            <p>
                                {{merchantPasswordErrors}}
                            </p>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="offset-md-4 col-md-4">
                                <button type="submit" (click)="createMerchant()" class="btn btn-primary app-btn col-md-12">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>