.app-btn{
    background-color: #0d192c;
}
.errorText{
    color: red;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    display: none;
}
.content{
	background: #34495E !important;
}

.page-title{
    color:white;
}