<!--<div class="login-button">
 <a class="btn btn-inverse btn-md" (click)="rerouteToOpening()" style="color:white">Get Transaction Details</a>
</div>-->
<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <h5 class="widget-login-logo animated fadeInUp">
          <img class="logo" src="./../../assets/img/ic_launcher.png"/>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Login to your BTM Portal</h3>
          </header>
          <div class="widget-body">
            <form class="login-form mt-lg">
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="userName" name="userName" placeholder="Username">
              </div>
              <div class="form-group">
                <input class="form-control" id="pswd" type="password" placeholder="Password" [(ngModel)]="userPassword" name="userPassword">
              </div>
              <div id="spinner" class="row" style="padding-left:45%;display:none">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              </div>
              <div class="clearfix">
                <div class="btn-toolbar pull-xs-right m-t-1">
                  <a class="btn btn-inverse btn-sm" (click) = "login()" style="color:white">Login</a>
                </div>
              </div>              
            </form>
            <div class="row">
              <div class="col-md-12">
                <p class="errorMessage">{{errorMessage}}</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    2016 &copy; BTM. Admin Dashboard Template.
  </footer>
</div>
