

<div class="centered-div">

    <h3>Calculate profit</h3>

    <div class="row">

            

        <div class="col-md-4 col-sm-4 col-xs-12 input-effect">
            <input type="text" class="myinputs" name="merchantProfit" [(ngModel)]="merchantProfit" placeholder="Enter Merchant Profit">
        </div>

         <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" class="myinputs"  name="bitpointProfit" [(ngModel)]="bitpointProfit" placeholder="Enter Bitpoint Profit">
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <button class="getProfit" (click)="getProfits()">Get Profits</button>
        </div>


    </div>

    <div class="alert alert-success successalert" *ngIf="successalert">
      Your information was successfully recived!
    </div>
    
     <div class="alert alert-danger failurealert" *ngIf="failurealert">
      Both amounts should add upto 100
    </div>



</div>