@import "../../../node_modules/bootstrap/scss/variables";
@import "../scss/variables";

/***********************************/
/**             Profitconfiguration     **/
/***********************************/



.content{
    background: #34495E !important;
  }
.centered-div{
 /*    min-width:800px;
    margin:25px auto; */
}
.centered-div h3{
    font-size:22px;
    color:white;
}
.myinputs{
    border:none;
    padding-left:15px;
    height:40px;
    border:1px solid #ccc;
    width:100%;
    margin-top:15px;
}

.getProfit{
        margin-top: 15px;
        width: 100%;
    height: 40px;
    line-height: 40px;
    background: #EBC41D;
    color: #0D192C;
    border: none;
    font-size: 18px;
    font-weight: bold;
    
}
.successalert{
        width: 392px;
    margin: 25px auto;
}
.failurealert{
     width: 392px;
    margin: 25px auto;
}
.centered-div h3{
    font-size:22px;
    font-weight: 500;
    text-align: center;
    margin:35px;
}