<div class='row'>


  
    <div class="col-lg-6 col-md-6 col-xs-12">
        <section class="widget custom-widgets bg-success text-white">
          <div class="widget-body clearfix">
            <div class="row">
                <select class="dropdownSelect" (change)="getProfitTime($event.target.value)">
                  <option value="Daily">Daily</option>
                  <option value="Weekly">Weekly</option>
                  <option value="Monthly">Monthly</option>
                  <option value="Quarterly">Quarterly</option>
                </select>
            </div>
            <div class="row flex-nowrap">
              <div class="col-xs-3">
                <span class="widget-icon">
                  <i class="glyphicon glyphicon-usd"></i>
                </span>
              </div>
              <div class="col-xs-9">
                <h6 class="no-margin">TOTAL PROFIT</h6>
                <p class="h2 no-margin fw-normal" style="margin-bottom:30px">£ {{totalProfit}}</p>
              </div>
            </div>
            <div class="row flex-nowrap">
              <div class="col-xs-6">
                <h6 class="no-margin">Receiving</h6>
                <p class="value5">£ {{receivingProfit}}</p>
              </div>
              <div class="col-xs-6">
                <h6 class="no-margin">Sending</h6>
                <p class="value5">£ {{sendingProfit}}</p>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12">
          <section class="widget custom-widgets backgrounded text-white">
            <div class="widget-body clearfix">
              <div class="row">
                  <select class="dropdownSelect" (change)="getVolumeTime($event.target.value)">
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Quarterly">Quarterly</option>
                  </select>
              </div>
              <div class="row flex-nowrap">
                <div class="col-xs-3">
                  <span class="widget-icon">
                    <i class="glyphicon glyphicon-usd"></i>
                  </span>
                </div>
                <div class="col-xs-9">
                  <h6 class="no-margin">TOTAL VOLUME</h6>
                  <p class="h2 no-margin fw-normal" style="margin-bottom:30px">£ {{totalVolume}}</p>
                </div>
              </div>
              <div class="row flex-nowrap">
                <div class="col-xs-6">
                  <h6 class="no-margin">Receiving</h6>
                  <p class="value5">£ {{receivingVolume}}</p>
                </div>
                <div class="col-xs-6">
                  <h6 class="no-margin">Sending</h6>
                  <p class="value5">£ {{sendingVolume}}</p>
                </div>
              </div>
            </div>
          </section>
        </div>





</div>




<!--<div class="row mb-lg">
        <div class="col-lg-6 col-xs-12">
          <div class="clearfix">
            <ul class="nav nav-tabs pull-xs-left" id="myTab" role="tablist">
             <h1 style="font-size: 47px;height: 59px;color:white; background-color: #2243DF; width: 518px;text-align: center;font-weight: 800;">Profit</h1>
             <li class="nav-item">
                <a class="nav-link active" id="daily" data-toggle="tab" href="#daily" role="tab" aria-controls="daily" aria-expanded="true">Profit</a>
              </li>
              <li class="nav-item">
                   
            </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#assumtion" role="tab" aria-controls="assumtion" aria-expanded="false">Assumtion</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Dropdown <b class="caret"></b>
                </a>
                <div class="dropdown-menu">
                  
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#assumtion" role="tab" aria-controls="assumtion" aria-expanded="false">Assumtion</a>
                </li> 
            </ul>
          </div>
          
          <div class="tab-content mb-lg" id="myTabContent">
            <div role="tabpanel" class="tab-pane active in clearfix" id="daily" aria-labelledby="daily-tab" aria-expanded="true">
            
              
                  <div class="row">

                          <button class="normalBtn"  (click)="Dailyy('1',$event);" >Daily</button>  

                        

                      
                          
                                
                          <button class="normalBtn" (click)="Dailyy('2',$event);">Weekly</button>
                          


                   
                        
                        
                            <button class="normalBtn" (click)="Dailyy('3',$event);">Monthly</button>  
                       



                           
                            
                              <button class="normalBtn" (click)="Dailyy('4',$event);">Quaterly</button>  
                            
                      
                       
                           
                          </div>
                         


            

                 <div class="row">
                    <div class="col-sm-3 col-md-6 col-lg-4">
                        <div class="container">
                            
                             <table class="table">
                               <thead>
                                 <tr>
                                   <th>Recieveing Profit</th><p>{{receivingProfit}} </p>
                       
                                 </tr>
                                 <tr>
                                     <th>Sending Profit </th>  <p>{{sendingProfit}} </p>
                                  
                         
                                   </tr>
                                   <tr>
                                       <th>Total Profit</th><p>{{totalProfit}} </p> 
                           
                                     </tr>
                               </thead>
                             
             
                             </table>
                           </div>
      
      
                        
                            </div>
                            </div>



            <div class="tab-pane" id="assumtion" role="tabpanel" aria-labelledby="assumtion-tab" aria-expanded="false">
              
              <div class="clearfix">
                <div class="btn-toolbar">
                  
                </div>
              </div>
            </div>
            <div class="tab-pane" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab" aria-expanded="false">
              
              
            </div>
            <div class="tab-pane" id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab" aria-expanded="false">
              <blockquote class="blockquote-sm blockquote mb-xs">
              
              </blockquote>
             
            </div>
          </div>

        </div>
        </div>

       

        <div class="col-lg-6 col-xs-12">
            <div class="clearfix">
              <ul class="nav nav-tabs pull-xs-left" id="myTab" role="tablist">
               <h1 style="font-size: 47px;height: 59px;color:white; background-color: #2243DF; width: 518px;text-align: center;font-weight: 800;">Volume</h1>
              <li class="nav-item">
                  <a class="nav-link active" id="daily" data-toggle="tab" href="#daily" role="tab" aria-controls="daily" aria-expanded="true">Profit</a>
                </li>
                <li class="nav-item">
                     
              </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#assumtion" role="tab" aria-controls="assumtion" aria-expanded="false">Assumtion</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Dropdown <b class="caret"></b>
                  </a>
                  <div class="dropdown-menu">
                    
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#assumtion" role="tab" aria-controls="assumtion" aria-expanded="false">Assumtion</a>
                  </li> 
              </ul>
            </div>
            
            <div class="tab-content mb-lg" id="myTabContent">
              <div role="tabpanel" class="tab-pane active in clearfix" id="daily" aria-labelledby="daily-tab" aria-expanded="true">
              
                
                    <div class="row">
  
                            <button class="normalBtn"  (click)="Dailyprofit('1',$event);" >Daily</button>  
  
                          
  
                        
                            
                                  
                            <button class="normalBtn" (click)="Dailyprofit('2',$event);">Weekly</button>
                            
  
  
                     
                          
                          
                              <button class="normalBtn" (click)="Dailyprofit('3',$event);">Monthly</button>  
                         
  
  
  
                             
                              
                                <button class="normalBtn" (click)="Dailyprofit('4',$event);">Quaterly</button>  
                              
                        
                         
                             
                            </div>
                           
  
  
              
  
                   <div class="row">
                      <div class="col-sm-3 col-md-6 col-lg-4">
                          <div class="container">
                              
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Recieveing Volume</th><p>{{receivingVolume}}</p>
                          
                                    </tr>
                                    <tr>
                                        <th>Sending Volume </th><p>{{sendingVolume}}</p>
                            
                                      </tr>
                                      <tr>
                                          <th>Total Volume  </th><p>{{totalvolume}}</p>
                              
                                        </tr>
                                  </thead>
                                
                
                                </table>
                             </div>
        
        
                          
                              </div>
                              </div>
  
  
  
              <div class="tab-pane" id="assumtion" role="tabpanel" aria-labelledby="assumtion-tab" aria-expanded="false">
                
                <div class="clearfix">
                  <div class="btn-toolbar">
                    
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab" aria-expanded="false">
                
                
              </div>
              <div class="tab-pane" id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab" aria-expanded="false">
                <blockquote class="blockquote-sm blockquote mb-xs">
                
                </blockquote>
               
              </div>
            </div>
  
          </div>
          </div>
  
         
        
      </div> -->