@import "../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.custom-widgets{
    min-height:266px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: none !important;
}
h6.no-margin{
    font-size: 26px;
    margin-bottom: 15px;
}
.content{
    background:#34495E !important;

}
.h2,.value5{
    font-size: 14px !important;
}
.backgrounded{
    background:#16a085 !important;
}
.backgrounded .dropdownSelect option{
    background:#16a085;
    color:white;
    border:none;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}


.dropdownSelect option{
    background:#64BD63;
    color:white;
    border:none;
}
.dropdownSelect{
    width: 100%;
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
    background: transparent;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 20px;    
    background: url("assets/img/more.png") 98% 10px no-repeat;
    -webkit-appearance: none;
    outline:none;

}

div.undertab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.undertabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Style the buttons inside the tab */
div.undertab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.undertab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.undertab button.active {
    background-color: #ccc;
}

.row .container
{

    width: 393px;
}






div.profittab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.profittab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.profittab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.profittab button.active {
    background-color: #ccc;
}

.normalBtn
{
    position: relative;
    float: right;
    width: 100%;
    border-radius: 3px;
    background: transparent;
    border: 1px solid gray;
    width: 20%;
    margin-right: 3%;

}
.table
{

    margin-top: 20px;
}

.row .col-sm-3
{
padding-right: 0;

}
.row
{
    text-align: center;
    width: 99%;
    margin: 0 auto;

}

.selected
{

    background-color: black !important;
    color:white;
}
/* #daily
{

    width: 431px !important;
} */
.pull-xs-right
{ 
    width: 403px;
    
}

div.undertab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.profittabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Style the buttons inside the tab */
div.uprofittab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.profittab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.profittab button.active {
    background-color: #ccc;
}



