<ol class="breadcrumb">
    <li class="breadcrumb-item">YOU ARE HERE</li>
    <li class="breadcrumb-item active">Transactions List</li>
</ol>
<h1 class="page-title">Transactions
    <span class="fw-semi-bold">List</span>
</h1>



<div class="errosDiv" *ngIf="errordiv" style="color:white">Enter a merchant Id</div>
<div class="subscriptionBox clearfix">

    <div class="input-wrapper">
        <input type="text" name="merchantId" [(ngModel)]="merchantId" class="custom-input" placeholder="Enter merchant ID">
    </div>
    <div class="btn-wrapper">
        <button class="btn-subscribe" (click)="getMerchantById()">Search</button>
    </div>
</div>


<section class="widget" widget>
    <div class="widget-body table-responsive">
        <table class="table merchantsTable" style="    table-layout: auto;">
            <thead>
                <tr>
                    <th class="hidden-xs-down">#</th>
                    <th style="width:300px">Merchant Id</th>
                    <th>Transaction Id</th>
                    <th>Sending Amount</th>
                    <th>Transaction Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let merchant of merchantData; let i = index">
                    <td class="hidden-xs-down">{{i + 1}}</td>
                    <td style="width:300px">
                        {{merchant.merchantId}}
                    </td>
                    <td>
                        {{merchant.transactionId}}
                    </td>
                    <td>
                        {{merchant.sendingAmount}}
                    </td>
                    <td>
                        {{merchant.transactionTime}}
                    </td>
                    <td>
                        <a (click)="getTransactionDetailsForThisMerchant(merchant.transactionId)"> View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>