@import "../../../node_modules/bootstrap/scss/variables";
@import "../scss/variables";

/***********************************/
/**             Profitconfiguration     **/
/***********************************/

.content{
	background: #34495E !important;
}

.subscriptionBox{
	width:58%;
	margin:0 auto;
	position:relative;
	height:48px;
	margin-top: 10px;
  margin-bottom:50px;
}

.input-wrapper{
	position:absolute;
	left:0;
	height:100%;
	top:0;
	width:70%;
}
.btn-wrapper{
	position:absolute;
	left:70%;
	height:100%;
	top:0;
	width:30%;
}

.btn-wrapper button, .input-wrapper input{
	
	width:100%;
	height:100%;
	height:100%;
	
}
.left-heading,.right-value{
  position: relative;
  float:left;
}
.right-value{
  margin-left:15px;
}
.left-heading p{
  font-weight: bold;
}
.errosDiv{
      width: 320px;
    margin: 0 auto;

}
.input-wrapper input{
	
	background: white;
    padding-left: 15px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
	font-size:17.5 !important;
    font-family: 'Open Sans';
    font-weight: 500;
	
}
.btn-wrapper button{
	border:none;
	background:#64bbe1;
	color:white;
	font-family: 'Open Sans';
	border-radius:4px;
	border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 24px;
}
.input-wrapper input::placeholder {
  color: #aaaaaa;
  font-style:italic;
  font-size:17.5 !important;
    font-family: 'Open Sans';
    font-weight: 500;
}



@media only screen and (max-width: 560px) {


.subscriptionBox{
	width:100%;

}
}
