<ol class="breadcrumb">
    <li class="breadcrumb-item">YOU ARE HERE</li>
    <li class="breadcrumb-item active">Merchant List</li>
</ol>
<h1 class="page-title">Merchant <span class="fw-semi-bold">List</span></h1>

<section class="widget" widget>
    <div class="widget-body">
        <div class="row">
            <input id="email" type="text" class="form-control col-md-3 search-merchant" placeholder="Search By Email" name="Email" (keyup)="search()" ([ngModel])="Email"/>
        </div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th class="hidden-xs-down">#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Merchant Profit</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let merchant of searchList; let i = index">
                    <td class="hidden-xs-down">{{i + 1}}</td>
                    <td>
                        {{merchant.userFullName}}
                    </td>
                    <td>
                        {{merchant.userEmail}}
                    </td>
                    <td>
                        {{merchant.userName}}
                    </td>
                    <td>
                        {{merchant.merchantProfit}}
                    </td>
                    <td class="width-150">
                        <button class="btn btn-primary app-btn" (click) = "deleteMerchant(merchant._id)">Delete</button>
                    </td>

                     <td class="width-150">
                        <button class="btn btn-success app-btn" (click) = "getTransactions(merchant._id)">Transactions</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</section>