.app-btn{
    background-color: #0d192c;
}
.errorText{
    color: red;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    display: none;
}
.content{
	background: #34495E !important;
}

.table > thead > tr > th{
    background: #34495E !important;
    color:White;
}

.search-merchant{
    margin-bottom: 5px;
    margin-left: 1.5%;
}

.page-title{
    color:white;
}