<!-- <div class="chat-sidebar-content">
  <header class="chat-sidebar-header">
    <h4 class="chat-sidebar-title">Contacts</h4>
    <div class="form-group no-margin">
      <div class="input-group input-group-dark">
        <input class="form-control fs-mini" [(ngModel)]="searchText" type="text" placeholder="Search...">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
      </div>
    </div>
  </header>
  <div class="chat-sidebar-contacts chat-sidebar-panel" [ngClass]="{'open': !chatMessageOpened}">
    <h5 class="sidebar-nav-title">Today</h5>
    <div class="list-group chat-sidebar-user-group">
      <a *ngFor="let conversation of conversations.todayConversations | SearchPipe : searchText"
         (click)="deactivateLink($event); openConversation(conversation)"
         class="list-group-item">
        <i class="fa fa-circle text-{{conversation.status}} pull-right"></i>
          <span class="thumb-sm pull-left mr">
              <img class="img-circle" src="{{conversation.image}}" alt="...">
          </span>
        <h6 class="message-sender">{{conversation.name}}</h6>
        <p class="message-preview">{{conversation.lastMessage}}</p>
      </a>
    </div>

    <h5 class="sidebar-nav-title">Last Week</h5>
    <div class="list-group chat-sidebar-user-group">
      <a *ngFor="let conversation of conversations.lastWeekConversations | SearchPipe : searchText"
         (click)="deactivateLink($event); openConversation(conversation)"
         class="list-group-item">
        <i class="fa fa-circle text-{{conversation.status}} pull-right"></i>
          <span class="thumb-sm pull-left mr">
              <img class="img-circle" src="{{conversation.image}}" alt="...">
          </span>
        <h6 class="message-sender">{{conversation.name}}</h6>
        <p class="message-preview">{{conversation.lastMessage}}</p>
      </a>
    </div>
  </div>
  <div chat-message [searchMessage]="searchText" [conversation]="activeConversation" [open]="chatMessageOpened" (chatMessageClosed)="chatMessageOpened = false"></div>
</div>
 -->